//Mobile//

.catalog {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 21px;
  padding-right: 20px;
  padding-left: 20px;

  font-family: "OswaldRegular", "Arial Narrow", sans-serif;
}

.catalog__title {
  margin: 0;
  padding-top: 14px;
  padding-bottom: 29px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.catalog__list {
  width: 320px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__foot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 20px;
}

.catalog__icon {
  display: inline-block;
  margin-bottom: 23px;

  vertical-align: middle;

  opacity: 0.2;
}

.catalog__text {
  @include title;
}

.catalog__slogan {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

//Tablet//

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;
    margin-bottom: 44px;
    padding-top: 27px;
    padding-bottom: 10px;
    padding-left: 10px;

    font-weight: 400;
    font-size: 60px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin-right: 30px;
    margin-left: 20px;
  }

  .catalog__item {
    width: 324px;
    height: 431px;
    margin-right: 60px;
    margin-bottom: 140px;
    padding-left: 0;

    background-color: #f2f2f2;

    &:last-child {
      margin-bottom: 0;
      padding-right: 0;

      background-color: $white;
      border: 2px solid #f2f2f2;
    }

    &:nth-last-child(2n) {
      margin-bottom: 0;
    }
  }

  .catalog__title {
    width: 453px;
    padding-top: 0;
    padding-bottom: 166px;
    padding-left: 19px;

    font-weight: 400;
    font-size: 60px;
  }

  .catalog__foot {
    margin-top: 66px;
    padding: 0;
  }

  .catalog__text {
    width: 143px;
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .catalog__slogan {
    width: 185px;
    margin: 0;
    margin-bottom: 80px;

    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .catalog__icon {
    margin-bottom: 61px;
  }
}

//Desktop//

@media (min-width: $desktop-width) {
  .catalog {
    width: 1440px;
    margin: 0;
    padding: 0;
    padding-right: 80px;
    padding-left: 110px;
  }

  .catalog__title {
    padding: 0;
    padding-top: 47px;
    padding-bottom: 161px;
  }

  .catalog__list {
    width: 1440px;
    margin: 0;
    padding: 0;
  }

  .catalog__item {
    width: 245px;
    height: 431px;
    margin: 0;
    margin-right: 80px;
    margin-bottom: 142px;
    padding-right: 0;
    padding-left: 0;
  }
}
