@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: relative;
  }
}

.contacts__address {
  display: flex;
  padding-top: 30px;
  padding-left: 19px;
  padding-bottom: 26px;
  background-color: $white;
  min-height: 114px;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    padding-top: 63px;
    padding-left: 34px;
    padding-right: 70px;
    padding-bottom: 58px;
    background-color: #f2f2f2;
  }
}

@media (min-width: $desktop-width) {
  .contacts__address {
    position: absolute;
    top: 91px;
    left: 110px;
    width: 570px;
    height: 201px;
    background-color: $white;
  }
}

.contacts__call {
  width: 143px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "OswaldRegular", "Arial Narrow", "Arial", sans-serif;
  font-weight: 400;
  padding-right: 19px;
}

@media (min-width: $tablet-width) {
  .contacts__call {
    padding-left: 36px;
    font-size: 20px;
    line-height: 25px;
    width: 216px;
    margin-right: 273px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__call {
    width: 229px;
    margin-right: 95px;
  }
}

.contacts__text {
  font-size: 14px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: #444444;
  width: 140px;
}

@media (min-width: $tablet-width) {
  .contacts__text {
    width: 173px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .contacts__text--wrap {
    display: block;
    margin-bottom: 17px;
  }
}

.contacts__map {
  margin-bottom: -2px;
}

@media (min-width: $tablet-width) {
  .contacts__map {
    height: 400px;
  }
}
