.excerpt {
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .excerpt {
    margin-bottom: 51px;
  }
}

@media (min-width: $desktop-width) {
  .excerpt {
    margin-bottom: 76px;
  }
}

@media (min-width: $tablet-width) {
  .expcerpt__wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.excerpt__list {
  @include list-reset;
}

@media (min-width: $desktop-width) {
  .excerpt__list {
    display: flex;
  }
}

.excerpt__item {
  position: relative;
  background-color: #f2f2f2;
  min-height: 266px;
  width: 280px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .excerpt__item {
    width: 708px;
    margin-left: 30px;
    padding: 52px;
    padding-bottom: 59px;
    margin-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .excerpt__item {
    width: 570px;
    margin: 0;
    padding: 0;
    padding-left: 52px;
    padding-right: 56px;
    padding-top: 41px;
    padding-bottom: 62px;
    margin-left: 80px;
  }
}

.excerpt__item:last-child {
  margin-bottom: 0;
}

.excerpt__image {
  margin-top: 5px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  background-color: $green;
  border-radius: 50px;
}

@media (min-width: $tablet-width) {
  .excerpt__image {
    position: absolute;
    top: 87px;
    left: 443px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
  }
}

@media (min-width: $desktop-width) {
  .excerpt__image {
    position: static;
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
}

.excerpt__image-slim {
  position: absolute;
  top: 23px;
  left: 30px;
}

@media (min-width: $tablet-width) {
  .excerpt__image-slim  {
    width: 141px;
    height: 194px;
    top: -12px;
    left: 29px;
  }
}

@media (min-width: $desktop-width) {
  .excerpt__image-slim  {
    width: 71px;
    height: 97px;
    top: 35px;
    left: 67px;
  }
}

.excerpt__image-pro {
  position: absolute;
  top: 35px;
  left: 12px;
}

@media (min-width: $tablet-width) {
  .excerpt__image-pro  {
    width: 268px;
    height: 113px;
    max-width: none;
    top: 43px;
    left: -34px;
  }
}

@media (min-width: $desktop-width) {
  .excerpt__image-pro  {
    width: 134px;
    height: 57px;
    top: 64px;
    left: 32px;
  }
}

.excerpt__title {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: $font;
  text-align: left;
  margin-top: 11px;
  margin-left: 71px;
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .excerpt__title {
    font-size: 36px;
    top: 65px;
    left: -18px;
  }
}

@media (min-width: $desktop-width) {
  .excerpt__title {
    margin-top: 5px;
    margin-left: 232px;
  }
}

.excerpt__description {
  width: 240px;
  padding: 0;
  margin: 0;
  margin-top: 21px;
  padding-bottom: 22px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
  font-weight: 400;
  font-size: 14px;
  color: #444444;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .excerpt__description {
    font-size: 16px;
    line-height: 24px;
    width: 377px;
    margin-top: 87px;
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .excerpt__description {
    width: 462px;
    margin-top: 36px;
    margin-bottom: 9px;
  }
}

@media (min-width: $tablet-width) {
  .excerpt__description--pro {
    width: 340px;
  }
}

@media (min-width: $desktop-width) {
  .excerpt__description--pro {
    width: 462px;
  }
}

.excerpt__link {
  text-transform: uppercase;
  font-family: "OswaldRegular", "Arial Narrow", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  &::after {
    position: absolute;
    left: 115px;
    bottom: 24px;
    content: "";
    width: 25px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
  }
}

@media (min-width: $tablet-width) {
  .excerpt__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      left: 183px;
      bottom: 65px;
    }
  }
}

@media (min-width: $tablet-width) {
  .excerpt__link--pro::after {
      left: 177px;
      bottom: 64px;
  }
}
