//Mobile//

.main-nav {
  position: relative;
}

.main-nav__toggle {
  @include button-reset;

  position: absolute;
  top: -41px;
  right: 0;

  display: block;
  width: 25px;
  height: 19px;

  background-color: $white;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: -3px;
  right: 1px;

  width: 25px;
  height: 19px;

  background-image: url("../img/icon-mobile-menu.svg");
}

.main-nav--opened .main-nav__toggle {
  top: -47px;
  right: 1px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 2px;

    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
  font-family: "OswaldMedium", "Arial Narrow", sans-serif;
  text-align: center;
}

.main-nav-list__item {
  padding: 24px 0;

  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  border-top: 1px solid $grey;
}

.main-nav-list__item-link {
  position: relative;

  color: $black;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav--nojs .main-nav__list {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: block;
  }
}

//Tablet//

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__wrapper {
    display: block;
  }

  .main-nav__list {
    flex-direction: row;

    font-family: "OswaldRegular", "Arial Narrow", sans-serif;
  }

  .main-nav-list__item {
    padding-top: 43px;
    padding-right: 35px;

    font-size: 18px;
    line-height: 25px;

    border: none;

    &:last-child {
      padding-right: 0;
    }
  }

  .main-nav-list__item--active::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 1px;
    z-index: 10;

    width: 100%;
    height: 2px;

    background-color: $green;
  }
}

//Desktop//

@media (min-width: $desktop-width) {
  .main-nav {
    margin-right: -141px;
  }

  .main-nav__list {
    margin-right: 55px;
  }

  .main-nav-list__item {
    font-size: 20px;
    line-height: 25px;
    color: #111111;
  }

  .main-nav-list__item-link {
    color: $white;

    &:focus,
    &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .main-nav-list__item-link--black {
    color: $black;

    &:focus,
    &:hover {
      color: rgba(17, 17, 17, 0.6);
    }

    &:active {
      color: rgba(17, 17, 17, 0.3);
    }
  }

  .main-nav-list__item--active::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 1px;
    z-index: 10;

    width: 100%;
    height: 2px;

    background-color: $green;
  }

  .main-nav-list__item--active-index::after {
    background-color: $white;
  }
}
