//Mobile//

.page-footer__links {
  padding-top: 39px;
  padding-bottom: 22px;

  background-color: #f2f2f2;
}

.page-footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.page-footer__logo {
  height: 27px;
  margin-bottom: 28px;
}

.page-footer__logo[href]:hover,
.page-footer__logo[href]:focus {
  opacity: 0.8;
}

.page-footer__logo[href]:active {
  opacity: 0.6;
}

.page-footer__copyright {
  width: 100%;
}

//Tablet//

@media (min-width: $tablet-width) {
  .page-footer__links {
    padding-top: 59px;
    padding-bottom: 58px;
  }

  .page-footer__container {
    flex-direction: row;
    width: 768px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .page-footer__logo {
    width: 162px;
    margin-top: 4px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .page-footer__copyright {
    width: 162px;
    margin-left: auto;
  }
}

//Desktop//

@media (min-width: $desktop-width) {
  .page-footer__links {
    padding-top: 59px;
    padding-bottom: 56px;
    padding-left: 25px;
    padding-right: 20px;
  }

  .page-footer__container {
    align-items: stretch;
    width: 1300px;
    padding-right: 65px;
    padding-left: 15px;
  }
}
