.page-footer {
  background-color: #f2f2f2;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: inline-block;
  vertical-align: middle;
  padding-top: 39px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .page-footer__logo {
    margin-left: 30px;
    padding-top: 59px;
  }
}

.page-footer__social {
  width: 280px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer__social {
    margin: 0;
  }
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;

  @include list-reset;
}

.social {
  padding-top: 23px;
  padding-bottom: 18px;
  padding-left: 25px;
}

@media (min-width: $tablet-width) {
  .social {
    margin-left: 64px;
    padding-top: 57px;
  }
}

.social__item {
  margin-right: 36px;
}

.social__item:last-child {
  margin-right: 0;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  padding: 9px 18px;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 39px;
    padding-right: 0;
    padding-left: 73px;
  }
}

.copyright__link {
  color: #444444;
  font-size: 16px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding-right: 14px;
  }
}

.copyright__logo {
  margin-top: 5px;
}
