//Mobile//

.page-main__form {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 21px;
  padding-right: 20px;
}

.page-main__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 37px;
}

.page-main__title {
  width: 262px;
  margin: 0;
  margin-bottom: 26px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  font-family: "OswaldRegular", "Arial Narrow", sans-serif;
}

.page-main__slogan {
  margin: 0;

  font-size: 14px;
  line-height: 18px;
  font-family: "OswaldRegular", "Arial Narrow", sans-serif;
  text-align: left;
  text-transform: uppercase;
}

//Tablet//

@media (min-width: $tablet-width) {
  .page-main__form {
    width: 708px;
  }

  .page-main__wrapper {
    margin-bottom: 63px;
  }

  .page-main__title {
    width: 445px;
    margin-bottom: 53px;

    font-size: 60px;
    line-height: 60px;
  }

  .page-main__slogan {
    width: 329px;
    margin-left: 40px;

    font-size: 20px;
    line-height: 30px;
  }
}

//Desktop//

@media (min-width: $desktop-width) {
  .page-main__form {
    width: 1080px;
  }

  .page-main__slogan {
    margin-left: 0;
  }
}
