//Mobile//

.product {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  height: 210px;
  margin-top: -1px;
  margin-right: 20px;
  margin-left: -20px;
  padding-left: 20px;

  border: 1px solid #ededed;
}

.product__name {
  width: 75px;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 13px;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.product__more {
  display: flex;
  justify-content: space-between;
  width: 141px;
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

//Tablet//

@media (min-width: $tablet-width) {
  .product {
    flex-direction: column;
    align-items: center;
    height: 431px;
    margin: 0;
    padding: 0;

    text-align: center;

    border: 0;
  }

  .product__name {
    width: 139px;
    margin: 0;
    margin-bottom: 26px;
    margin-left: 54px;
    padding: 0;

    font-size: 20px;
    text-align: center;
  }

  .product__more {
    position: relative;

    width: 247px;

    font-size: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 21px;
      left: 1px;

      width: 249px;
      height: 1px;

      background-color: #cdcdcd;
    }
  }

  .product__more dt {
    margin-bottom: 17px;
  }

  .product__img {
    width: auto;
    margin: 0;

    &--small {
      height: 172px;
      margin-top: -47px;
      margin-bottom: 36px;
  }

    &--big {
      height: 208px;
      margin-top: -84px;
      margin-bottom: 38px;
  }
}

  .product__description {
    margin-bottom: 24px;
  }
}

//Desktop//

@media (min-width: $desktop-width) {
  .product__name {
    margin-left: 14px;
  }

  .product__more {
    width: 168px;

    &::before {
      content: "";
      position: absolute;
      top: 21px;
      left: 1px;

      width: 169px;
      height: 1px;

      background-color: #cdcdcd;
    }
  }

  .product__img--small {
    margin-bottom: 38px;
  }
}
