.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 18px;

  list-style: none;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social-list__item {
  box-sizing: border-box;
  width: 22px;
  margin-right: 34px;

  text-align: center;

  &--vkontakte {
    padding-top: 1px;
  }

  &--instagram {
    padding-top: 2px;
  }

  &--facebook {
    padding-right: 6px;
  }
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link-icon {
  fill: #666666;
}

.social-list__link:hover .social-list__link-icon,
.social-list__link:focus .social-list__link-icon {
  fill: $green;
}

.social-list__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social-list {
    width: auto;
    max-width: 360px;
    margin-bottom: 0;
    padding: 0;

    border: none;
  }

  .social-list__item {
    width: 30px;
    margin-right: 25px;

    &--vkontakte {
      padding-top: 6px;

      .social-list__link-icon {
        width: 30px;
        height: 16px;
      }
    }

    &--instagram {
      padding-top: 3px;

      .social-list__link-icon {
        width: 23px;
        height: 23px;
      }
    }

    &--facebook {
      padding-right: 15px;

      .social-list__link-icon {
        width: 14px;
        height: 28px;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .social-list {
    max-width: 570px;
  }
}
