@media (min-width: $tablet-width) {
  .additional {
    margin-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .additional {
    display: flex;
    flex-wrap: wrap;
  }
}

.additional__wrapper {
  padding-top: 10px;
  padding-bottom: 35px;
  padding-left: 19px;
}

.additional__title {
  padding: 0;
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  font-family: "OswaldRegular", "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .additional__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .additional__title {
    margin-right: 1000px;
  }
}

.additional__list {
  @include list-reset;

  margin-bottom: 40px;
}

.additional__item {
  padding: 0 20px;
  padding-top: 14px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cccccc;
}

@media (min-width: $tablet-width) {
  .additional__item {
    width: 708px;
    border: 1px solid #cccccc;
  }
}

.additional__item-title {
  @include title;

  line-height: 16px;
  font-family: "OswaldRegular", "Arial", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .additional__item-title {
    font-size: 20px;
    line-height: 20px;
  }
}

.additional__table {
  color: #444444;
  font-family: "Arial", sans-serif;
  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .additional__table {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional__value {
  text-align: left;
}

.additional__field {
  text-align: right;
  padding-left: 110px;
}

@media (min-width: $tablet-width) {
  .additional__button {
    width: 633px;
  }
}

.additional__banner {
  display: flex;
  padding-top: 65px;
  padding-bottom: 43px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 35px;
  width: 280px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
}

@media (min-width: $tablet-width) {
  .additional__banner {
    margin: 0;
    padding-left: 91px;
    padding-right: 125px;
    margin-bottom: 76px;
    width: 708px;
    height: 200px;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .additional__banner {
    margin: 0;
    padding-left: 91px;
    padding-right: 125px;
    margin-bottom: 76px;
    width: 245px;
    height: 289px;
    flex-direction: column;
  }
}

.additional__banner-text {
  display: inline-block;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  width: 159px;
  text-align: center;
}
