@mixin icon {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: 50%;
}

.advantages {
  margin-bottom: 47px;
}

.advantages__title {
  font-size: 36px;
  line-height: 60px;
  font-family: $font;
  margin: 0;
  padding: 0;
  margin-top: -3px;
  margin-left: 20px;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  position: relative;
}

.advantages__item:nth-child(2n) {
  margin-top: -4px;
}

.advantages__item:nth-child(3n) {
  margin-top: -4px;
}

.advantages__item:nth-child(4n) {
  margin-top: -4px;
  width: 300px;
}

.advantages__icon::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  left: 20px;
  top: -2px;
  background-color: $green;
  background-repeat: no-repeat;
  background-position: 50%;
}

.advantages__icon-leaf::after {
  @include icon;

  width: 26px;
  height: 29px;
  top: 13px;
  left: 37px;
  background-image: url("../img/advantage-leaf@1x.png");
}

.advantages__icon-powder::after {
  @include icon;

  width: 29px;
  height: 32px;
  top: 11px;
  left: 36px;
  background-image: url("../img/advantage-powder@1x.png");
}

.advantages__icon-dining::after {
  @include icon;

  width: 24px;
  height: 30px;
  top: 13px;
  left: 36px;
  background-image: url("../img/advantage-dining@1x.png");
}

.advantages__icon-clock::after {
  @include icon;

  width: 26px;
  height: 31px;
  top: 13px;
  left: 36px;
  background-image: url("../img/advantage-clock@1x.png");
}

.advantages__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  margin-top: 30px;
  margin-left: 100px;
}
