.catalog__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.catalog__item {
  padding: 22px 20px;
  border: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    background-color: #f2f2f2;
    margin-right: 30px;
    margin-bottom: 92px;
  }
}

.catalog__item-wrapper {
  display: flex;
}

@media (min-width: $tablet-width) {
  .catalog__item-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.catalog__title {
  @include title;

  width: 75px;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    font-size: 20px;
    line-height: 20px;
    width: 134px;
    text-align: center;
  }
}

.catalog__image {
  margin-top: -22px;
}

.catalog__table {
  font-size: 12px;
  line-height: 20px;
  font-family: "Arial", sans-serif;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .catalog__table {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog__line {
  margin: 0;
  padding: 0;
}

.catalog__field {
  text-align: left;
  width: 90px;
}

.catalog__value {
  text-align: right;
}

.catalog__foot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px 20px;
}

@media (min-width: $tablet-width) {
  .catalog__foot {
    padding: 0;
  }
}

.catalog__text {
  @include title;
}

.catalog__slogan {
  color: #444444;
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", sans-serif;
}

.catalog__icon {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.2;
  margin-bottom: 23px;
}
