.buttont-font {
  font-size: 16px;
  line-height: 20px;
}

.button-grey {
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background-color: #f2f2f2;
}

.contacts__wrapper-grey {
  background-color: #f2f2f2;
}

.main-content__title-catalog {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-top: 28px;
  margin-bottom: 39px;
  margin-left: -21px;
  text-align: left;
}
