.page-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 12px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 19px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 768px;
    font-size: 18px;
    line-height: 25px;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1440px;
    font-size: 20px;
    line-height: 25px;
    justify-content: none;
  }
}

@media (min-width: $tablet-width) {
.page-header__logo-image {
    margin-top: 18px;
    margin-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-image {
      margin-right: 540px;
    }
  }
